<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SimpleCalc</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="screen">
      1234
    </div>
    <div class="buttons">
      <div class="memaction">
        <div class="memAcBtns">M+</div>
        <div class="memAcBtns">M-</div>
        <div class="memAcBtns">MRC</div>
        <div class="memAcBtns">AC</div>

      </div>
      <div class="operations"></div>
      <div class="nums">
        <div class="numBtns">1</div>
        <div class="numBtns">2</div>
        <div class="numBtns">3</div>
        <div class="numBtns">4</div>
        <div class="numBtns">5</div>
        <div class="numBtns">6</div>
        <div class="numBtns">7</div>
        <div class="numBtns">8</div>
        <div class="numBtns">9</div>
        <div class="numBtns">0</div>

      </div>

    </div>
    <script src="../js/neutralino.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
