<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SimpleCalc</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="history">1200+34</div>

    <div class="screen">
      <div class="stats">Kobs</div>
      <div class="output">1234</div>
    </div>
    <div class="buttons">
     <!-- I know this is a very bad way to do it , i will change it later hopefully-->
     <div class="BtnsCol FourColsEqual">
      <div class="numBtns">Sin</div>
      <div class="numBtns">Cos</div>
      <div class="numBtns">%</div>
      <div class="numBtns">●●●</div>
    </div>
      <div class="BtnsCol FourColsEqual">
        <div class="numBtns ACBtn">AC</div>
        <div class="numBtns">Del</div>
        <div class="numBtns">3</div>
        <div class="numBtns">/</div>
      </div>
      <div class="BtnsCol FourColsEqual">
        <div class="numBtns">7</div>
        <div class="numBtns">8</div>
        <div class="numBtns">9</div>
        <div class="numBtns">+</div>
      </div>
      <div class="BtnsCol FourColsEqual">
        <div class="numBtns">4</div>
        <div class="numBtns">5</div>
        <div class="numBtns">6</div>
        <div class="numBtns">-</div>
      </div>
      <div class="BtnsCol FourColsEqual">
        <div class="numBtns">1</div>
        <div class="numBtns">2</div>
        <div class="numBtns">3</div>
        <div class="numBtns">x</div>
      </div>
      <div class="BtnsCol FourColsEqual">
        <div class="numBtns">.</div>
        <div class="numBtns">0</div>
        <div class="numBtns">~</div>
        <div class="numBtns">=</div>
      </div>
    </div>
    <script src="../js/neutralino.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
